.banner {
    display: flex;
    background: rgba(229, 84, 115, 0.10);
    height: 600px;
    padding: 50px 100px 0 150px;
    align-items: center;
    justify-content: space-between;
}

.banner img {
    /* width: 635px; */
    height: 600px;
}

.header-font {
    font-size: 64px;
    font-weight: 800;
}

.primary-font {
    font-size: 54px;
    font-weight: 800;
}

.banner-style {
    /* display: flex; */
    padding: 0 50px 0 0;
}

.btn-primary {
    border-radius: 8px;
    background: #E55473;
    padding: 15px 20px;
    border: none;
    font-weight: bold;
    font-size: medium;
    color: white;
}

/* main section */

/* main{
    justify-content: center;
    align-items: center;
} */
.our-flower-header {
    text-align: center;
    margin-top: 100px;
}

.our-flower {
    display: flex;
    justify-content: center;
    align-items: center;
}

.our-flower img {
    width: 250px;
    height: 350px;
    padding: 50px 30px 0 30px;
    /* padding-bottom: 0; */
    margin: 10px;
    border-radius: 300px 300px 0px 0px;
    /* background: rgba(167, 33, 98, 0.15), rgba(5, 151, 160, 0.15), rgba(71, 125, 17, 0.15); */
    background-color: rgba(5, 151, 160, 0.15);
}

.our-flower p {
    text-align: center;
    text-decoration: underline;
}

/* services section  */

.services {
    width: 1000px;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 100px auto;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    border: #E55473 solid;
    text-align: center;

}

/* hot-deal section */
.hot-deal {
    display: flex;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    height: 500px;
    padding: 0 150px;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
}

.hot-deal div {
    margin: 0 50px;
}

/* Instagram section  */

.instagram {
    text-align: center;
    margin-top: 70px;

}

.instagram img {
    width: 250px;
    margin: 10px;
}

/* latest-deals section  */
.latest-deals {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 8px;
    background: url('flower-shop-assignment-main/Flower Asset/Rectangle\ 9.png'), lightgray 0px -203.444px / 100% 213.755% no-repeat;
    width: 1050px;
    height: 440px;
    margin: 100px auto;
}

.input {
    width: 400px;
    height: 50px;
    border-radius: 5px;
    border: none;
    padding: 0 20px;
}